.Container{
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Banner-title{
    background-color: #4076FA;
    color: white;
}

.Background-Error {
    background-color: #F15025;
    padding: 100px;  
    margin-top: 100px;
}



/* PADRAO */

.primary {
    color: #4076FA;
}

.success{
    color: #00D233;
}

.error{
    color: #F15025;
}

.alert{
    color: #E8C547;
}

.dark{
    color: #001634;
}


.extra-dark{
    color: #091223;
}

.hero-text-rubik{
    font-size: 42px;
    font-family: 'Rubik', sans-serif;
}

.title-text-rubik{
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
}

.body-text-rubik{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.cta-text-rubik{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

.body-text-roboto{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.title-text-roboto{
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.margin-default{
    margin: 40px;
}