.Container{
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Banner-title{
    background-color: #4076FA;
    color: white;
}



/* PADRAO EXIGIDO */

.primary {
    color: #4076FA;
}

.success{
    color: #00D233;
}

.error{
    color: #F15025;
}

.alert{
    color: #E8C547;
}

.dark{
    color: #001634;
}

.extra-dark{
    color: #091223;
}

.margin-default{
    margin: 40px;
}