.Btn{
    text-align: center;
    margin: 10px;
    left: 650px;
    height: 40px;
    position: absolute;
    background-color: #4076FA;
}

.Txt-Button{
    border-radius: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:block;
    color: white;
    font-family: 'Rubik', sans-serif;
}